.wrapper {
  height: 100vh;
  position: relative;

  .bar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .scrollWrapper {
    height: calc(100vh - 130px);
    .messageListContainer {
      overflow-y: scroll;
      height: 100%;
    }
  }
  .footer {
    height: 70px;
    padding: 10px;
    background: white;
    border-top: 1px solid #eeeef1;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    .addNewMessage {
      width: 100%;
      display: flex;
      textarea {
        width: 80%;
      }
      button {
        width: 15%;
      }
    }
  }
}

.messageContainer {
  .text {
    margin: 1px 0px;
    background: #f4f4f8;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  &.byMe .text {
    background: #007aff;
    color: white;
    margin-left: auto;
    margin-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
