.mt-20 {
  margin-top: 20px;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}
.ml-10 {
  margin-left: 10px;
}
