@import 'node_modules/normalize-scss/sass/_normalize.scss';

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

@import './helpers.scss';
@import './button.scss';
@import './forms.scss';

.preJson {
  padding: 10px;
  background: #9e9e9e26;
  pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
